@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans&display=swap");

:root {
  --primary-color: #70d1fe;
  --secondary-color: #f9f871;
  --details-color: #f1b2e4;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background: rgb(112,209,254);
  background: linear-gradient(0, rgba(241,178,228,1) 0%,rgba(112,209,254,1) 50%, rgba(112,209,254,1) 100%); 
}

h1 {
  width: 300px;
  font-family: "Indie Flower", cursive;
  color: var(--secondary-color);
  font-size: 40px;
  margin: 20px auto;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

header {
  position: relative;
  margin: 0 auto;
  width: 700px;
  height: 300px;
  border-radius: 5px;
}

.profile-picture {
  position: absolute;
  left: 0;
  border-radius: 100px;
  z-index: 1;
}

header blockquote {
  background-color: #fff;
  position: absolute;
  font-family: "Indie Flower", cursive;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  left: 0;
  top: 0;
  height: 200px;
  width: 700px;
  bottom: 33.33%;
  border-radius: 10px;
  padding: 20px 20px 20px 250px;
}

header address {
  display: flex;
  position: absolute;
  bottom: 20%;
  right: 0;
  margin: 0;
  z-index: 2;
}

header address * {
  background-color: var(--secondary-color);
  cursor: pointer;
  color: #000;
  font-size: 12px;
  margin: 0 0 0 10px;
  border-radius: 5px;
  padding: 5px 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);;
}

header address a:visited {
  color: #000;
}

header address *:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

header address *:active {
  transform: scale(.97);
}

section {
  display: flex;
  background-color: #fff;
  max-width: 900px;
  margin: 20px auto;
  padding: 0 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

h2 {
  border-right: 2px solid var(--details-color);
  padding-right: 10px;
  margin: 20px;
}

.job-container, .award-container, .education-container, .about-me-container {
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 800px) {
  header {
    max-width: 600px;
  }
  header blockquote {
    max-width: 600px;
    font-size: 22px;
  }
  
  section {
    flex-direction: column;
    max-width: 700px;
  }

  h2 {
    border-right: 0;
    border-bottom: 2px solid var(--details-color);
  }

}

@media (max-width: 600px) {
  header {
    width:350px;
    height: 320px;
    display: flex;
    flex-direction: column;
  }
  
  .profile-picture {
    position: absolute;
    height: auto;
    width: 120px;
    margin: 0 auto;
    order: 1;
    bottom: 0;
    border-radius: 10px;
  }

  header blockquote {
    position: relative;
   padding: 10px;
   font-size: 20px;
   width: 350px;
  }

  header address{
    position: absolute;
    flex-direction: column;
    margin: 10px auto;
    bottom: 0;
    right: 0px;
  }
  
  header address * {
    margin: 5px 0;
    padding: 5px 15px;

  }

  section {
    width: 355px;
  }
}
.max-container {
  margin: 0 auto;
  background-color: red;
  color: white;
}


.max-container h1 {
  margin: 0 auto;
  font-size: 50px;
}